
header {
  background-color: var(--primary);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
}

.clock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;

  div:first-child {
    font-size: 1.5rem;
  }

  div:not(:first-child) {
    font-size: 2rem;
  }
}

.body-container {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.button {
  margin: 1rem 0;
}

.price {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    color: var(--price);
  }
}

@media only screen and (min-width: 768px) {
  .body-container {
    flex-direction: row;
  }

  .body-container div:first-child {
    max-width: 50%;
  }
}
