
<div>
  <header>
    <a routerLink="/"><h1>Taxi Price</h1></a>
  </header>
  <div class="clock">
    <div>{{ time | date: 'dd/MM/YYYY' }}</div>
    <div>{{ time | date: 'hh:mm:ss a' }}</div>
  </div>
  <div class="body-container">
    <form [formGroup]="priceForm" (ngSubmit)="submitForm()">
      <h2>Calculate the price of your taxi fare</h2>

      <!-- duration options -->
      <div class="select-box">
        <label for="duration">Duration in seconds</label>
        <input class="form-control" name="duration" id="duration" formControlName="duration" type="number" required>
      </div>

      <!-- Distance options -->
      <div class="select-box">
        <label for="distance">Distance in </label>
        <input class="form-control" name="distance" id="distance" formControlName="distance" type="number" required>
      </div>

      <!-- Weather options
      <div class="select-box">
        <label for="weather">Current weather</label>
        <select class="form-control" name="weather" id="weather" formControlName="weather" required>
          @for (weather of weathers; track weather) {
            <option value="{{weather}}">{{weather}}</option>
          }
        </select>
      </div> -->

      <button class="button button-small pointer"
              [disabled]="!priceForm.valid"
              type="submit">Calculate price</button>

    </form>
    <div class="price">
      <h2>Price of the fare</h2>
      <h1>{{price}}$</h1>
    </div>
  </div>
</div>
