
<div>
  <header>
    <a routerLink="/"><h1>Taxi Price</h1></a>
  </header>
  <div class="body-container">
    <form [formGroup]="priceForm" (ngSubmit)="submitForm()">
      <h2>Calculate the price of your taxi fare</h2>
      <!-- Day options -->
      <div class="select-box">
        <label for="day">Day</label>
        <select class="form-control" name="day" id="day" formControlName="day" required>
          @for (day of days; track day) {
            <option value="{{day.id}}">{{day.day}}</option>
          }
        </select>
      </div>

      <!-- Time options -->
      <div class="select-box">
        <label for="time">Time of day</label>
        <select class="form-control" name="time" id="time" formControlName="time" required>
          @for (time of [].constructor(24); track time; let idx = $index) {
            <option value="{{idx+1}}">{{idx + 1}}:00</option>
          }
        </select>
      </div>

      <!-- Weather options -->
      <div class="select-box">
        <label for="weather">Current weather</label>
        <select class="form-control" name="weather" id="weather" formControlName="weather" required>
          @for (weather of weathers; track weather) {
            <option value="{{weather}}">{{weather}}</option>
          }
        </select>
      </div>

      <button class="button button-small pointer"
              [disabled]="!priceForm.valid"
              type="submit">Calculate price</button>

    </form>
    <div class="price">
      <h2>Price of the fare</h2>
      <h1>{{price}}$</h1>
    </div>
  </div>
</div>
