.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  height: 100vh;
}

.taxi-image {
  width: 100%;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  p {
    margin: 0.25rem 0;
  }
}

.button {
  margin: 1.5rem 0;
}

@media only screen and (min-width: 768px){
  .page-container {
    flex-direction: row;
  }
  .page-container * {
    max-width: 50%;
  }
}
